<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/estilos.css">
</head>
<body>
    <nav>
        <ul>
            <div class="fila">
                <div class="col">
                    <h1 class="logo">PRESENTACION</h1>

                </div>
                <div class="col">
                    <li><a href="../index.html">QUIEN SOY</a></li>
                    <li><a href="familia.html">FAMILIA</a></li>
                    <li><a href="./hobbies.html">HOBBIES</a></li>
                </div>
                

            </div>
            
        </ul>
    </nav>
    <section class="fami">
        <div class="fila">
            <div class="colfam1">
                <h3>Mi familia esta conformada por mi hermano mi hermana mi mama y yo tenemos dos mascotas, mi familia son personas muy carismaticas amables, honradas, trabajadoras y nos encanta ayudar a la gente, gracias a esto a lo largo de nuestras vidas hemos crecido de manera economica, tenemos un mejor estilo de vida, tal vez no lleno de lujos pero si lleno de amor</h3>
                <div class="fila">
                    <div class="colmasco">
                        <img class="mascotas" src="../img/masco1.jpeg" alt="">
                    </div>
                    <div class="colmasco">
                        <img class="mascotas" src="../img/masco2.jpeg" alt="">
                    </div>
        
                </div>
            </div>
            <div class="colfam">
                <img class="imgfamilia" src="../img/familia.jpeg" alt="">

            </div>

        </div>
        

    </section>
    <footer>
        <h3>pagina relalizada por Karol S. &copy;derechos reservados 2024</h3>
    </footer>
</body>
</html>