<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/estilos.css">
</head>
<body>
    <nav>
        <ul>
            <div class="fila">
                <div class="col">
                    <h1 class="logo">PRESENTACION</h1>

                </div>
                <div class="col">
                    <li><a href="../index.html">QUIEN SOY</a></li>
                    <li><a href="./familia.html">FAMILIA</a></li>
                    <li><a href="hobbies.html">HOBBIES</a></li>

                </div>
                

            </div>
            
        </ul>
    </nav>
    <section class="hobbies">
        <div class="fila">
            <h2 class="titulo">HOBBIES</h2>
            <br>
            <br>
            <br>
            <h2 class="prese">En mis tiempos libres me gusta ir a entrenos de baile, me gusta compartir con mi familia, me gusta conocer lugares nuevos etc...  </h2>
            <div class="colhobbi">
                <img class="hobie1imagen" src="../img/hobbi3.jpeg" alt="">
            </div>
            <div class="colhobbi">
                <img class="hobie2imagen" src="../img/hobbi2.jpeg" alt="">
            </div>
            <div class="colhobbi">
                <img class="hobie3imagen" src="../img/hobbie3.jpeg" alt="">
            </div>

        </div>

    </section>
    <footer>
        <h3>pagina relalizada por Karol S. &copy;derechos reservados 2024</h3>
    </footer>
</body>
</html>